In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("./metadata_1446.csv", index_col=0)

In [6]:
provs = pd.read_csv("/data/gpfs/projects/punim1293/vini/phd-2025/data/metadata_1454_cluster_labels.csv", index_col=0)

In [9]:
prov_metadata = {
    16: {
        "description": "Baltic Sea",
        "label": "BALT",
        "category": "BALT",
        "marker": "X"
    },
    11: {
        "description": "Pacific Equatorial divergence/countercurrent",
        "label": "TRHI",
        "category": "TROP",
        "marker": "s"
    },
    5: {
        "description": "Subtropical oceanic gyres",
        "label": "TGYR",
        "category": "TROP",
        "marker": "D"
    },
    9: {
        "description": "Broad Tropical",
        "label": "TRLO",
        "category": "TROP",
        "marker": "o"
    },
    0: {
        "description": "Antarctic polar",
        "label": "APLR",
        "category": "POLR",
        "marker": "v"
    },
    14: {
        "description": "Arctic/Boreal polar",
        "label": "BPLR",
        "category": "POLR",
        "marker": "^"
    },
    10: {
        "description": "Coastal temperate/Upwelling areas",
        "label": "CTEM",
        "category": "TEMP",
        "marker": "P"
    },
    2: {
        "description": "Subantarctic-like",
        "label": "OTEM",
        "category": "TEMP",
        "marker": "<"
    },
    3: {
        "description": "North Atlantic Drift-like",
        "label": "STEM",
        "category": "TEMP",
        "marker": ">"
    },
    7: {
        "description": "Mediterranean-like",
        "label": "MTEM",
        "category": "TEMP",
        "marker": "p"
    },
}

In [17]:
df = df.join(provs["sourmash_k_10_1487_25m"].map({k: v["description"] for k, v in prov_metadata.items()}))

In [18]:
df = df.rename(columns={"sourmash_k_10_1487_25m": "biogeographical_province"})

In [20]:
df.to_csv("./metadata_1446.csv")

In [25]:
df["IHO_Sea_fmt"].value_counts()

IHO_Sea_fmt
Indian Ocean            340
North Atlantic Ocean    229
North Pacific Ocean     212
South Atlantic Ocean    187
South Pacific Ocean     106
Bay of Bengal            79
Arabian Sea              69
Mediterranean Sea        53
Baltic Sea               49
North Sea                42
Arctic Ocean             33
Southern Ocean           30
Red Sea                  11
Coral Sea                 4
Celtic Sea                2
Name: count, dtype: int64